body {
    background-color: green;
}

.grid-container {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.card {
    width: 3em;
    height: 4em;
    font-size: 4em;
    text-align: center;
    display: flex;
    margin: auto;
}

.card_text {
    margin: auto;
    text-align: center;
}

.card_hidden {
    background-color: #0066ff;
}

.card_active {
    background-color: white;
}