/* sticky footer setup */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 1.5rem;
}

#card_table {
    background-color: green;
    min-height: 70vh;
    margin: 0;
}

.playing_card {
    height: 20vh;
    width: 14vh;
    background-color: #0066ff;
}

.playing_card.show_card {
    background-color: white;
}