<!DOCTYPE html>
<html lang='en'>
<head>
    <title>E28 P1</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="blackjack.js" defer></script>
    <link rel="stylesheet" href="blackjack.css">
</head>
<body>
    <div class="content">
        <section class="hero is-dark">
            <div class="container">
                <h1 class="title">
                    Simple Blackjack
                </h1>
                <h2 class="subtitle">
                    Written With Vue.js
                </h2>
            </div>
        </section>

        <section class="columns" id="blackjack">
            <div class="column is-one-quarter">
                <div class="card">
                    <header class="card-header">
                        <div class="columns is-multiline">
                            <div class="column is-full">
                                <p class="card-header-title">
                                    Game Status
                                </p>
                            </div>

                            <div v-if="message" class="column is-full">
                                <p v-if="message" v-bind:class="message_class" class="card-header-title">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </header>
                    
                    <div class="card-content">
                        <div class="columns is-mobile is-multiline">
                            <div class="column is full">
                                <div class="columns is-mobile is-multiline">
                                    <div class="column is-half">
                                        Player total: {{ player_status.is_soft ? 'Soft ' : '' }}{{ player_status.value }}
                                    </div>

                                    <div class="column is-half">
                                        Dealer total:
                                        <span v-if="is_dealer_turn">{{ dealer_status.value }}</span>
                                        <span v-else>?</span>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-full">
                                <div class="columns is-mobile is-multiline">
                                    <div class="column is-full">
                                        Bet: {{ initial_bet }}
                                    </div>


                                    <div class="column is-one-third">
                                        <button class="button is-dark">Deal</button>
                                    </div>

                                    <div class="column is-one-third">
                                        <button class="button is-dark" v-on:click="increaseBet">Bet +</button>
                                    </div>

                                    <div class="column is-one-third">
                                        <button class="button is-dark" v-on:click="decreaseBet">Bet -</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card">
                    <div class="card-content columns is-multiline" id="card_table">
                        <playing-area
                          owner="Dealer"
                          v-bind:cards="dealer_hand"
                        ></playing-area>
                        <playing-area
                          owner="Player"
                          v-bind:cards="player_hand">
                        </playing-area>
                    </div>
                </div>
            </div>

            <div class="column is-one-quarter">

            </div>
        </section>
    </div>

    <footer class="footer has-text-centered">
        <div class="content">
            <p>&copy;2020 Andrew Bielecki</p>
            <p>
                <a href="https://github.com/ambielecki/e28/tree/master/p1"><i class="fab fa-github"></i> View Source On Github</a>
            </p>
        </div>
    </footer>
</body>