<!doctype html>
<html lang='en'>
<head>
    <title>Week 5 - Word Scramble</title>
    <meta charset='utf-8'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="js/master.js" defer></script>
    <link rel="stylesheet" type="text/css" href="scramble.css">
</head>
<body>
    <section id="scramble" v-cloak>
        <h1>Word Scramble</h1>

        <div v-if="!game_on">
            <label>Enter your player name:
                <input type="text" v-model.trim="player_name"><span v-if="!player_name" class="required"> (required)</span>
            </label>

            <p>Pick a sport<span v-if="!selected_sport" class="required"> (required)</span>:</p>

            <div v-for="(sport, index) in sports">
                <input type="radio" :id="sport" :value="sport" v-model="selected_sport">
                <label :for="sport">{{ sport }}</label>
            </div>
            <br>
            <div v-if="player_name && selected_sport">
                <button @click="gameOn">Let's Play!</button>
            </div>
        </div>

        <div v-else>
            <p>Game on {{ player_name }}!</p>
            <p>Your mystery word is: <span class="shuffled_word">{{ shuffled_word }}</span></p>
            <p>Hint: <span class="hint">{{ words[selected_sport][selected_word] }}</span></p>

            <div>
                <label>Your guess:
                    <input type="text" v-model.trim="player_guess" @keyup.enter="guess">
                    <button @click="guess">Submit Guess</button>
                </label>
            </div>

            <p v-if="guessed" :class="{success: correct_guess}" class="message">
                {{ message }}
                <button v-if="correct_guess" @click="playAgain">Play Again?</button>
            </p>
        </div>

        <round-detail v-if="results.length > 0" :results="results"></round-detail>
    </section>
</body>
</html>